{% extends 'ilearnsite/header.html' %}
{% load static %}
{% block body %}

    <!-- banner Section -->
    <section class="slideersec">
      <div class="container ">
        <div class="banner">
          <img class="d-block w-100" src="{%static 'images/who.png'%}" alt="First slide" style="border-radius: 12px;"/>
        </div>
      </div>
    </section>

    <!-- about section -->
    <section class="new-section  serve_info" dir="rtl">
        <div class="container" style="text-align: start;">
              <h1 class="new-section-title">  مطعم البيت </h1>
          <div class="new-section-content">
            <p>
              مطعم البيت هو وجهة مميزة لعشاق الطعام، يقدم تجربة تناول فريدة من نوعها. يتميز المطعم بتصميمه الدافئ والحميمي، مما يجعله مكانًا مثاليًا للعائلات والأصدقاء.
            </p>
          </div>
        </div>
    </section>
  
    <!--form and map-->
      <section id="contact-info">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="contact-info-block text-center">
                        <i class="pe-7s-map-marker"></i>
                        <h4>العنوان</h4>
                        <p class="lead">153 ويليامسون بلازا، 09514</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="contact-info-block text-center">
                        <i class="pe-7s-mail"></i>
                        <h4>البريد الإلكتروني</h4>
                        <p class="lead">supportdb@dthememascot.com</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="contact-info-block text-center">
                        <i class="pe-7s-phone"></i>
                        <h4>رقم الهاتف</h4>
                        <p class="lead">+23-68017684</p>
                    </div>
                </div>
            </div>
        </div>
      </section> 

      <section class="section m-5" id="contact" dir="rtl">
        <div class="container">
            <div class="row mb-4">
                <div class="col-md-8 col-lg-6">
                    <h5>اترك رسالة</h5>
                    <!-- Heading -->
                    <h2 class="section-title mb-2 ">
                        أخبرنا عن <span class="font-weight-normal">نفسك</span>
                    </h2>

                    <!-- Subheading -->
                    <p class="mb-5 ">
                        سواء كانت لديك أسئلة أو ترغب فقط في إلقاء التحية، تواصل معنا.
                    </p>

                </div>
            </div> <!-- / .row -->

            <div class="row">
                <div class="col-lg-6">
                  <!-- form message -->
                    <div class="row">
                        <div class="col-12">
                            <div class="alert alert-success contact__msg" style="display: none" role="alert">
                                تم إرسال رسالتك بنجاح.
                            </div>
                        </div>
                    </div>
                    <!-- end message -->
                    <!-- Contacts Form -->
                    <form class="contact_form" action="mail.php">
                        <div class="row">
                            <!-- Input -->
                            <div class="col-sm-6 mb-6">
                                <div class="form-group">
                                    <label class="h6 small d-block text-uppercase">
                                        اسمك
                                        <span class="text-danger">*</span>
                                    </label>

                                    <div class="input-group">
                                        <input class="form-control" name="name" id="name" required="" placeholder="محمد أحمد" type="text">
                                    </div>
                                </div>
                            </div>
                            <!-- End Input -->

                            <!-- Input -->
                            <div class="col-sm-6 mb-6">
                                <div class="form-group">
                                    <label class="h6 small d-block text-uppercase">
                                        بريدك الإلكتروني
                                        <span class="text-danger">*</span>
                                    </label>

                                    <div class="input-group ">
                                        <input class="form-control" name="email" id="email" required="" placeholder="mohamed@gmail.com" type="email">
                                    </div>
                                </div>
                            </div>
                            <!-- End Input -->

                            <div class="w-100"></div>

                            <!-- Input -->
                            <div class="col-sm-6 mb-6">
                                <div class="form-group">
                                    <label class="h6 small d-block text-uppercase">
                                        الموضوع
                                        <span class="text-danger">*</span>
                                    </label>

                                    <div class="input-group">
                                        <input class="form-control" name="subject" id="subject" required="" placeholder="تصميم ويب" type="text">
                                    </div>
                                </div>
                            </div>
                            <!-- End Input -->

                            <!-- Input -->
                            <div class="col-sm-6 mb-6">
                                <div class="form-group">
                                    <label class="h6 small d-block text-uppercase">
                                        رقم هاتفك
                                        <span class="text-danger">*</span>
                                    </label>

                                    <div class="input-group ">
                                        <input class="form-control" id="phone" name="phone" required="" placeholder="1-800-643-4500" type="text">
                                    </div>
                                </div>
                            </div>
                            <!-- End Input -->
                        </div>

                        <!-- Input -->
                        <div class="form-group mb-5">
                            <label class="h6 small d-block text-uppercase">
                                كيف يمكننا مساعدتك؟
                                <span class="text-danger">*</span>
                            </label>

                            <div class="input-group">
                                <textarea class="form-control" rows="4" name="message" id="message" required="" placeholder="مرحبًا، أود أن ..."></textarea>
                            </div>
                        </div>
                        <!-- End Input -->

                        <div class="">
                          <input name="submit" type="submit" class="btn btn-primary btn-circled" style="background: #e47100; border: #e47100;" value="إرسال رسالة">
                          
                            <p class="small pt-3">سنتواصل معك في غضون 1-2 يوم عمل.</p>
                        </div>
                    </form>
                    <!-- End Contacts Form -->
                </div>

                <div class="col-lg-6 col-md-6">
                    <!-- START MAP -->
                    <div id="map"></div>
                    <!-- END MAP -->
                </div>
            </div>
        </div>
      </section>

{% endblock %}