{% extends 'ilearnsite/header.html' %}
{% load static %}
{% load i18n %}
{% block body %}
    <!-- banner Section -->
    <section class="slideersec">
      <div class="container ">
         

                  <div class="banner">
                      <img class="d-block w-100" src="{%static 'images/comm.png'%}" alt="First slide" style="border-radius: 12px;" />
                  </div>
         
           
             
            
         
      </div>
    </section>

 <!-- hased section -->
 <section class="new-section  serve_info" dir="rtl">
  <div class="container" style="    text-align: start;">
    <h1 class="new-section-title">  المجتمع</h1>
    <div class="new-section-content">
      <p>
        برنامج خدمة المجتمع يركز على دعم المبادرات المحلية وتعزيز التنمية المستدامة، حيث نسعى لخلق تأثير إيجابي من خلال التعاون مع أفراد المجتمع والمنظمات المحلية.
      </p>
    </div>
  </div>
 </section>

  <section>
    <div class="container">
      <div class="corporateNav cstmr" dir="rtl">
        <p data-target="communityInitiatives">المبادرات المجتمعية</p>
        <p data-target="communityBenefits">فوائد المجتمع</p>
        <p data-target="communityFeedback">ملاحظات المجتمع</p>
        <p data-target="volunteerSupport">الدعم التطوعي</p>
      </div>

      <div class="communityInitiatives mb-5 showing" style="text-align: start;" dir="rtl">
        <p class="initiatives-title">كيف نساهم في المجتمع؟</p>
        <p class="initiatives-text">نشارك في العديد من المبادرات التي تهدف إلى تحسين الظروف المعيشية وتعزيز التنمية المستدامة في المجتمع المحلي.</p>
      </div>

      <div class="communityBenefits mb-5 showing" style="text-align: start;" dir="rtl">
        <p class="benefits-title">فوائد برنامج خدمة المجتمع</p>
        <p class="benefits-text">نقدم مزايا متعددة تشمل الدعم المالي، ورش العمل، والفرص التعليمية لتعزيز المهارات المحلية.</p>
      </div>

      <div class="communityFeedback mb-5 showing" style="text-align: start;" dir="rtl">
        <p class="feedback-title">ملاحظات المجتمع</p>
        <p class="feedback-text">نحن نرحب بملاحظات المجتمع ونستخدمها لتحسين مبادراتنا وتلبية احتياجات الأفراد بشكل أفضل.</p>
      </div>

      <div class="volunteerSupport mb-5 showing" style="text-align: start;" dir="rtl">
        <p class="support-title">الدعم التطوعي</p>
        <p class="support-text">نحن نشجع على المشاركة التطوعية ونعمل على توفير فرص للمواطنين للمساهمة في مشروعنا المجتمعي.</p>
      </div>
    </div>
  </section> 

{% endblock%}