{% extends 'ilearnsite/header.html' %}
{% load static %}
{% load i18n %}
{% block body %}

    <!-- banner Section -->
    <section class="slideersec">
      <div class="container ">
         

                  <div class="banner">
                      <img class="d-block w-100" src="{%static 'images/coustom.png'%}" alt="First slide" style="border-radius: 12px;" />
                  </div>
         
           
             
            
         
      </div>
  </section>

  <!-- coustomer section -->
  <section class="new-section  serve_info" dir="rtl">
    <div class="container" style="    text-align: start;">
            <h1 class="new-section-title">  العملاء</h1>
          <div class="new-section-content">
          <p>
            برنامج خدمة العملاء يهدف إلى تعزيز تجربة العملاء من خلال تقديم الدعم المستمر والمزايا الحصرية، مما يساعد على بناء علاقة قوية بيننا وبين عملائنا.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="corporateNav cstmr" dir="rtl">
        <p data-target="customerExperience">تجربة العميل</p>
        <p data-target="customerBenefits">فوائد العملاء</p>
        <p data-target="customerFeedback">ملاحظات العملاء</p>
        <p data-target="support">الدعم</p>
      </div>

      <div class="customerExperience mb-5 showing" style="text-align: start;" dir="rtl">
        <p class="experience-title">كيف نعتني بعملائنا؟</p>
        <p class="experience-text">نحن نحرص على تقديم أفضل تجربة ممكنة لعملائنا من خلال منتجاتنا وخدماتنا. نسعى دائماً لتلبية احتياجاتهم وتوقعاتهم.</p>
      </div>

      <div class="customerBenefits mb-5 showing" style="text-align: start;" dir="rtl">
        <p class="benefits-title">فوائد برنامج حصاد للعملاء</p>
        <p class="benefits-text">يقدم برنامج حصاد مزايا متعددة تشمل خصومات حصرية، عروض خاصة، ونقاط مكافآت على المشتريات.</p>
      </div>

      <div class="customerFeedback mb-5 showing" style="text-align: start;" dir="rtl">
        <p class="feedback-title">ملاحظات العملاء</p>
        <p class="feedback-text">نحن نقدر ملاحظات عملائنا ونعمل باستمرار على تحسين خدماتنا استنادًا إلى آرائهم.</p>
      </div>

      <div class="support mb-5 showing" style="text-align: start;" dir="rtl">
        <p class="support-title">الدعم المتاح</p>
        <p class="support-text">فريق الدعم لدينا متاح دائمًا لمساعدتك في أي استفسارات أو مشكلات قد تواجهها.</p>
      </div>
    </div>
  </section>

  {% endblock%}