{% extends 'ilearnsite/header.html' %}
{% load static %}
{% load i18n %}
{% block body %}

    <!-- Slider Section -->
    <section class="slideersec">
      <div class="container position-relative">
          <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              {%if slides %}
              {% for slide in slides  %}
              {% if slide.name_page == 1 %}
              <div class="carousel-item {% if forloop.first %}active{% endif %}">
                  <img class="d-block w-100" src="{{ slide.image_url.url }}" alt="First slide" />
                  <div class="carousel-caption">
                      <h3 class="title">{{slide.title}}</h3>
                      <p class="description">{{slide.description}}</p>
                  </div>
              </div>
              {% endif %} 
              {% endfor %}
              {% endif %} 
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </a>
          </div>
      </div>
    </section>

  <!-- coustomer section -->
  <section class="new-section  serve_info" dir="rtl">
    {% for titleForPageChoice in TitleForPageChoices  %}
    {% if titleForPageChoice.name_page == 2 %}
    <div class="container" style="text-align: start;">
      <h1 class="new-section-title">{{titleForPageChoice.title}}</h1>
      <div class="new-section-content">
        <p>{{titleForPageChoice.description}}</p>
      </div>
    </div>
    {% endif %} 
    {% endfor %}
  </section>

  <section>
    <div class="container">
      <!-- Navigation -->
      <div class="corporateNav cstmr" dir="rtl">
        {% if customer %}
          {% for customers in customer %}
            <p data-target="section-{{ customers.id }}">{{ customers.title }}</p>
          {% endfor %}
        {% endif %}
      </div>
    
      <!-- Sections -->
      {% if customer %}
        {% for customers in customer %}
          <div class="mb-5 showing section-{{ customers.id }}" style="text-align: start;" dir="rtl">
            <p class="section-{{ customers.id }}-title">{{ customers.question }}</p>
            <p class="section-{{ customers.id }}-text">{{ customers.answer }}</p>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </section> 

  {% endblock%}